# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database / local files
*.sqlite3

# Cache
.cache/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Celery
celerybeat-schedule

# Temp
*.tmp

Local Deployment (READ.ME).txt